<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/app.css">
    <style>
        .srcInput{
            display:flex;
            justify-content: center;
            margin-top: 1%;
        }
    </style>
</head>
<body>
    <div class="srcInput">
    <form action="POST" id="search">
        <input type="text" id="search-input" placeholder="search tag..">

    </form>
    </div>

    <table>
        <tr>
            <th>Team</th>
            <th>Project Name</th>
            <th>Supervisor</th>
            <th>Tags</th>
            <th>Like</th>
        </tr>
       
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td> <div class="tag">
                
            </div></td>
            <td>
                
                <a href="/likeit/">
                    <img src="../assets/img/empty.jpg" alt="">
                </a>
                

               
                <a href="/dislikeit/">
                    <img src="../assets/img/full.jpg" alt="">
                </a>
               
            </td>
        </tr>
        
    </table>

    <img src="../assets/img/loader.gif" id="loading">
</body>
</html>