<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {font-family: arila; margin: 20px}
        h1 {color: #333}
        div {background-color: #f0f0f0; margin: 10px 0; padding: 10px;}
    </style>
</head>
<body>
    <h1> <%= title %> </h1>
    <p>Escaped Output</p>
    <div><%= rawHtml %></div>

    <p>Unescaped Output</p>
    <div><%- rawHtml %></div>

    <hr>    
    <h2>Generated List (for loop)</h2>
    <ul>
    <% for (let std of students) { %>
        <li><%  std %></li>
    <% }  %>
    </ul>

    <h2> Generated List (map</h2>
    <ul>
        <%=
            students.map( s=> `<li>${s}</li>`).join("") //Better approach
        %>
    </ul>
</body>
</html>