body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, div {
    text-align: center;
}

section {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 600px;
    margin:auto ;
    margin-bottom: 30px;
    text-align: center;;
}

