<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body { font-family:Arial, Helvetica, sans-serif; }
        h3 a { margin-left: 20px ; text-decoration: none; color: green}
        i { color: #FFF; background: #000; padding: 3px 5px; font-size: 0.8em;}
        table { border-collapse: collapse; }
        th, td { border-bottom: 1px solid #aaa; padding: 5px 10px;}
    </style>
</head>
<body>
    <h1>Visited Contries and Cities</h1>
    <h3>
        Filter (<i><%= currentCountryName %></i>) <a href="/">All</a> 
        <%- countries.map(c => `<a href="/?code=${c.code}">${c.name}</a>`).join(' ') %>    
    </h3>
    <table>
        <tr>
            <th>COUNTRY</th>
            <th>CITY</th>
            <th>POPULATION</th>
        </tr>
        <%- filteredCities.map(c => `
            <tr>
                <td>${c.countryName}</td>
                <td>${c.name}</td>
                <td>${c.population}</td>
            </tr>
        `).join('') %>
    </table>
</body>
</html>