<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        fieldset { width: max-content; margin: 30px auto; padding: 20px; }
        p { color: red; text-align: center; }
    </style>
</head>
<body>
    <p>
        <a href="/register">Register</a>
    </p>
    <form action="/login" method="POST">
        <fieldset>
            <legend>Login</legend>
            <!-- create a username and password one under another with some space   -->  
             <!-- ali@gmail.com 1234 -->
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <label for="remember">Remember me:</label>
            <input type="checkbox" id="remember" name="remember">
            <br><br>
            <button type="submit">Login</button>
        </fieldset>
    </form>

</body>
</html>